$primary: #FFAF11;
$primary-dark: #FF9900;
$primary-light: #FFC759;
$brown: #D18B00;
$black: #242426;
$gray: #949494;

// background & calendar
$background: #FFF9ED;

// report sheet
$pale-yellow: #FFFBF1;
$yellow: #FFEEC4;
